<div class="movie-card">
  <img src="<%= bookmark.movie.poster_url %>" alt="" class="movie-card_image">
  <div class="movie-card_content">
    <div class="movie-card_headline">
      <h2><%= bookmark.movie.title %></h2>
       - <span class="movie-card_rating"> <%= bookmark.movie.rating %></span></div>
    <p class="movie-card_overview"><%= bookmark.movie.overview %></p>
    <div class="movie-card_footer"><span class="movie-card_comment"><%= bookmark.comment %></span> <%= link_to "delete", bookmark_path(bookmark), method: :delete, class: "movie-card_delete"  %></div>
  </div>
</div>
